<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">

    <meta name="author" content="CrazyCoders" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Your Cart</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <script src="/static/js/cart.js" type="text/javascript"></script>
</head>
<body>
<div th:replace="header.html :: copy"></div>

<div class="container">
    <div class="card" style="margin-left: 400px">
        <strong>Your Cart</strong>
    </div>
    <br>

    <div style="justify-content: center" id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p id="quantity1" class="lead" th:text="${prod.getQuantity()}+'x'" th:attr="id='quantity'+${prod.id}">1x</p>
                        <a class="btn btn-success" th:attr="href='/cart?add='+ ${prod.id}" th:if="${useJs == false}">+</a>
                        <a class="btn btn-danger" th:attr="href='/cart?rm='+ ${prod.id}" th:if="${useJs == false}">-</a>
                        <button class="btn btn-success" th:attr="onclick='sendModification('+${prod.id}+', true)'" th:if="${useJs == true}">+</button>
                        <button class="btn btn-danger" th:attr="onclick='sendModification('+${prod.id}+', false)'" th:if="${useJs == true}">-</button>
                        <br>
                        <p class="lead" th:attr="id='price'+ ${prod.id}" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-danger" th:attr="href='/cart?rmf='+ ${prod.id}">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="card"  style="margin-left: 400px">
        <a class="btn btn-success" href="/">Keep shopping</a>
        <br>
        <a class="btn btn-success" href="/payment">Checkout</a>
    </div>
    <br>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>