<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Payment - Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <!--    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>-->
    <link rel="stylesheet" type="text/css" href="/static/css/payment.css"/>
    <script src="/static/js/payment.js" defer></script>
</head>
<body>

<div class="jumbotron text-center" style="background-color: #D09B7D; height: 100px;">
    <h1 style="color: white">Few minutes and your plants will be happy ever after with you!</h1>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="text-align: center">Payment information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="credit-card">
                    <label for="card-number1">Card number: </label>
                    <input class="in-modal" type="text" required id="card-number1" minlength="8" maxlength="8" size="8">
                    <input class="in-modal" type="text" required id="card-number2" minlength="8" maxlength="8" size="8">
                    <input class="in-modal" type="text" id="card-number3" minlength="8" maxlength="8" size="8"><br>
                    <label for="holder">Card holder: </label>
                    <input class="in-modal" type="text" required id="holder"><br>
                    <label for="expiry">Expiry date: </label>
                    <input class="in-modal" type="text" required id="expiry" minlength="1" maxlength="2" size="2" placeholder="MM"><span id="slash">/</span>
                    <input class="in-modal" type="text" required id="year" minlength="1" maxlength="2" size="2" placeholder="YY"><br>
                    <label for="code">Code: </label>
                    <input class="in-modal" type="text" required id="code" minlength="3" maxlength="3" size="3">
                </div>
                <div class="paypal">
                    <label for="username">Username: </label>
                    <input class="in-modal" type="text" required id="username" size="20" maxlength="50"><br>
                    <label for="password">Password: </label>
                    <input class="in-modal" type="password" required id="password" maxlength="50"><br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="pay" type="button" class="btn btn-primary">Pay</button>
            </div>
        </div>
    </div>
</div>
<div><h2>Shopping Cart</h2></div>
<div class="payment-container">
    <div class="shopping-cart">
        <div class="cart"><br>
            <a href="/">Back to store</a>
        </div>
        <div class="items">
            <div class="total" th:text="${total}"></div>
            <table class="table product-container">
                <tr class="item" th:each="prod,iterStat : ${products}">
                    <td style="text-align: left" class="product-name" th:text="${prod.getQuantity() + 'x - ' + prod.getName()}">Product name</td>
                    <td><img class="smol" th:attr="src='/static/img/product_' + *{prod.id} + '.jpg'" alt=""/></td>
                    <td style="text-align: right" th:text="${prod.getDefaultPrice() + ' ' + prod.getDefaultCurrency()}">Product price</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="checkout">
        <div class="user">
            <h2>Email</h2>
            <input class="user-data" type="text" required placeholder="First name" id="first"><br>
            <input class="user-data" type="text" required placeholder="Last name"  id="last"><br>
            <input class="user-data" type="text" required placeholder="Post code" minlength="4" maxlength="4" size="4"  id="postcode">
            <input class="user-data" type="text" required placeholder="City" id="city">
            <input class="user-data" type="text" required placeholder="Address" id="address"><br>
            <input class="user-data" type="email" required placeholder="Your email address" id="email"><br>
<!--            <a href="#" id="user">Save</a>-->
        </div>
        <div class="payment-info">
            <h2>Payment information</h2><br>
            <input type="radio" id="card" checked name="payment">
            <label for="card">Credit or debit card</label>
            <img id="credit" src="/static/img/creditcard.jpg" alt=""><br><br>

            <input type="radio" id="paypal" name="payment">
            <label for="paypal">Paypal</label>
            <img id="pal" src="/static/img/paypal.jpg" alt="">
        </div>
        <div class="submit">
            <button id="paywith" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal">Pay with</button>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy" style="background-color: #428bca"></div>
</body>
</html>